* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Kanit";
    src: url("../dist/fonts/Kanit/Kanit-Light.ttf");
}

body {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #25332b 74%);

    font-family: 'Kanit', sans-serif;
    height: 100vh;
}

.main-portal {
    padding: 30px;
    margin: auto;
    position: absolute;
    left: 20%;
    top: 15%;
    width: 70%;

}

.portal-btn {
    width: 170px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background-color: rgba(22, 199, 255, 0.5);
    text-align: center;
    padding: 15px;

}

.portal-btn-disable {
    width: 170px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background-color: rgba(231, 231, 231, 0.5);
    text-align: center;
    padding: 15px;

}


.portal-btn:hover {
    background-color: rgba(59, 214, 188, 0.5);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 10px grey;


}
.portal-btn-disable:hover {
    font-weight: 600;
    cursor: default;
}